/FabricaEntidades.class
/FabricaPlataformas.class
/FabricaSilueta.class
/FabricaSiluetaModoAlternativo.class
/FabricaSiluetaModoOriginal.class
/FabricaSprites.class
/FabricaSpritesModoAlternativo.class
/FabricaSpritesModoOriginal.class
